/* This is a single CSS file housing the styling of our entire site. This will be imported by the HTML. */

html {
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background: rgb(255, 255, 0)
}
