<!-- This is a simple HTML page that demonstrates how to use the technologies we need. This is a template that will be rendered with our Python app. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- let Python inject the title here -->
  <title>{{ title }}</title>

  <!-- import our CSS -->
  <link href="static/style.css" rel="stylesheet">
</head> 

<body>
  <div id="root">
    <!-- this button will call the updateTime() JS function on click -->
    <button class="button" onclick="updateTime()">Update Time</button>
    <!-- this div is a placeholder that will show the response from the updateTime() JS function -->
    <div id="updatetimeresponse"></div>

    <!-- this button will call the getTime() JS function on click -->
    <button class="button" onclick="getTime()">Get World Time</button>
    <!-- this div is a placeholder that will show the response from the getTime() JS function -->
    <div id="gettimeresponse"></div>

    <button class="button" onclick="updateTeams()">Update Teams into Database</button>
    <div id="updateteamsresponse"></div>
  </div>

  <!-- import our JavaScript -->
  <script src="static/scripts.js"></script>
</body>

</html>
